@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Raleway:wght@200;400&family=Space+Grotesk:wght@700&display=swap');

$titles-font: 'Space Grotesk', sans-serif;
$common-font: 'Inconsolata';
$cyrillic-font: 'Raleway', sans-serif;

$main-color: #1f1d2a;
$additional-main-color: #e0e0e0;

$main-accent-color: #20243d;
$additional-accent-color: #6a6386;
$additional-accent-color-light: #6a638613;

$bg-color: #ffffff;
